header.header
	.container
		.header__top
			img.header__logo(src="static/images/common/logo.png" height="49" width="35" alt="Логотип")
			.header__wrapper
				span.header__name TastyCookery
				span.header__slogan Cook for real
		.header__inner
			h1.header__title Домашние простые рецепты
			p.header__text Собирайте рецепты в recipe box
			a(href="#footer").button.header__button Присоединиться к сообществу
