section.features
	.container
		.features__content
			h2.features__title Почему круто быть с нами:
			.swiper-container.features__slider
				ul.features__list.swiper-wrapper
					li.features__item.swiper-slide
						picture.features__picture
							//- source(type="image/webp" media="(min-width: 1440px)" srcset="static/images/content/partners-tripadvisor-desktop1x.webp, static/images/content/partners-tripadvisor-desktop2x.webp 2x")
							source(type="image/webp" srcset="static/images/content/photo-1-desktop@1x.webp, static/images/content/photo-1-desktop@2x.webp 2x")
							//- source(media="(min-width: 1440px)" srcset="static/images/content/partners-tripadvisor-desktop1x.png 1x, static/images/content/partners-tripadvisor-desktop2x.png 2x")
							img.features__img(src="static/images/content/photo-1-desktop@1x.png" srcset="static/images/content/photo-1-desktop@2x.png 2x" width="236" height="254" alt="Картинка просмотрка рецептов на телефоне" loading="lazy")
						p.features__text Получать лучшие рецепты по разным категориям
					li.features__item.swiper-slide
						picture.features__picture
							//- source(type="image/webp" media="(min-width: 1440px)" srcset="static/images/content/partners-tripadvisor-desktop1x.webp, static/images/content/partners-tripadvisor-desktop2x.webp 2x")
							source(type="image/webp" srcset="static/images/content/photo-2-desktop@1x.webp, static/images/content/photo-2-desktop@2x.webp 2x")
							//- source(media="(min-width: 1440px)" srcset="static/images/content/partners-tripadvisor-desktop1x.png 1x, static/images/content/partners-tripadvisor-desktop2x.png 2x")
							img.features__img(src="static/images/content/photo-2-desktop@1x.png" srcset="static/images/content/photo-2-desktop@2x.png 2x" width="236" height="254" alt="Картинка приготовления еды" loading="lazy")
						p.features__text Готовить без лишних усилий и делать из каждого дня не рутинный
					li.features__item.swiper-slide
						picture.features__picture
							//- source(type="image/webp" media="(min-width: 1440px)" srcset="static/images/content/partners-tripadvisor-desktop1x.webp, static/images/content/partners-tripadvisor-desktop2x.webp 2x")
							source(type="image/webp" srcset="static/images/content/photo-3-desktop@1x.webp, static/images/content/photo-3-desktop@2x.webp 2x")
							//- source(media="(min-width: 1440px)" srcset="static/images/content/partners-tripadvisor-desktop1x.png 1x, static/images/content/partners-tripadvisor-desktop2x.png 2x")
							img.features__img(src="static/images/content/photo-3-desktop@1x.png" srcset="static/images/content/photo-3-desktop@2x.png 2x" width="236" height="254" alt="Картинка довольного ребенка" loading="lazy")
						p.features__text Довольные члены семьи
				.features__pagination-wrapper.pagination
					.features__pagination.pagination__inner
