section.review
	.container
		h2.review__title Отзывы довольных пользователей
		ul.review__list
			li.review__item
				p.review__text После того, как стал участником проекта Tastycookery получает много простых рецептов, о которых раньше не задумывался, стал готовить некоторые, семья рада, стали больше разговаривать во время ужина и хвалить кулинарные таланты Человека1.
				.review__reviewer
					picture.review__picture
						source(type="image/webp" srcset="static/images/content/review-1@1x.webp, static/images/content/review-1@1x.webp 2x")
						img.review__img(src="static/images/content/review-1@1x.png" srcset="static/images/content/review-1@2x.png 2x" width="80" height="80" alt="Фотография Дайнерис" loading="lazy")
					.review__box
						span.review__name Дейнерис
						span.review__age 56 лет
			li.review__item
				p.review__text Рад, что благодаря простым рецептам может наслаждаться изысканными блюдами, тратя на приготовление 20 мин в день
				.review__reviewer
					picture.review__picture
						source(type="image/webp" srcset="static/images/content/review-2@1x.webp, static/images/content/review-2@1x.webp 2x")
						img.review__img(src="static/images/content/review-2@1x.png" srcset="static/images/content/review-2@2x.png 2x" width="80" height="80" alt="Фотография Дайнерис" loading="lazy")
					.review__box
						span.review__name Тайвин
						span.review__age 43 года
