section.promo
	.container
		p.promo__text Удобно получать на емейл уникальные проверенные рецепты, которые дружная команда Tastycookery попробовала сама и рекомендует
		a(href="#footer").button.promo__button
			span Стать членом семьи Tastycookery <br> #[strong БЕСПЛАТНО]
