section.advantages
	.container
		.swiper-container.advantages__slider
			ul.advantages__list.swiper-wrapper
				li.advantages__item.swiper-slide
					.advantages__images
						img.advantages__img(src="static/images/common/food-desktop.png" height="62" width="80" alt="Изображение еды")
						span.advantages__text Простые домашние рецепты
				li.advantages__item.swiper-slide
					.advantages__images
						img.advantages__img(src="static/images/common/articles.png" height="71" width="72" alt="Изображение ножа и разделочной доски")
						span.advantages__text Статьи о готовке
				li.advantages__item.advantages__item--big.swiper-slide
					.advantages__images
						img.advantages__img(src="static/images/common/books.png" height="66" width="51" alt="Книга с рецептами")
						span.advantages__text Бесплатная книга рецептов всем подписчикам
				li.advantages__item.swiper-slide
					.advantages__images
						img.advantages__img(src="static/images/common/recipe-box-desktop.png" height="60" width="54" alt="Книга с рецептами")
						span.advantages__text Собирайте рецепты в recipe box
				li.advantages__item.swiper-slide
					.advantages__images
						img.advantages__img(src="static/images/common/print-desktop.png" height="60" width="54" alt="Иконка печати рецептов")
						span.advantages__text Печать рецептов
			.advantages__pagination-wrapper.pagination
				.advantages__pagination.pagination__inner
