extends layout/main

block variables
	-var title = 'Главная страница'
	-var pageClass = 'index-page'

block content
	main(class=pageClass)
		include modules/advantages/advantages
		include modules/features/features
		include modules/promo/promo
		include modules/review/review
