// Colors
$white: #fff;
$black: #000;
$border-gray-color: #dcdcdc;
$dark-color: #242424;
$gray-color: #d4d4d4;
$yellow-color: #ffdd0c;
$pink-color: #ea7f8c;
$light-grey-color: #eaeaea;
$text-grey-color: #909090;

// Sizes
$base-font-size: 16px;

$tablet: 768;
$large: 1024;
$tablet-size: 768px;
$desktop-size: 1440px;

$content: 1200px;

// Fonts
$main-font: 'Circle', Arial, sans-serif;
$logo-font: 'PFHandbookPro', Arial, sans-serif;
