.advantages {
  margin: 0 0 50px 0;
  padding-top: 52px;
  @media screen and (min-width: $desktop-size) {
    margin: 0 0 66px 0;
  }
  &__list {
    @media screen and (min-width: $desktop-size) {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
  }
  &__item {
    display: flex;
    justify-content: center;
    @media screen and (min-width: $desktop-size) {
      width: 18%;
      &--big {
        width: 25%;
      }
    }
  }
  &__images {
    display: flex;
    position: relative;
    transition: all ease-out 0.25s;
    &::after {
      content: '';
      background-color: $yellow-color;
      border-radius: 50%;
      height: 80px;
      position: absolute;
      top: 0;
      left: calc(50% - 40px + 15px);
      width: 80px;
      z-index: -1;
      transition: all ease-out 0.25s;
    }
    @media screen and (min-width: $desktop-size) {
      &:hover {
        .advantages__img {
          transform: translateX(-50%);
        }
        &::after {
          left: calc(50% - 40px);
        }
      }
    }
  }
  &__img {
    position: absolute;
    left: 50%;
    top: 6px;
    transform: translateX(calc(-50% - 15px));
    transition: all ease-out 0.25s;
  }
  &__text {
    color: $dark-color;
    cursor: default;
    font-size: 17px;
    line-height: normal;
    padding-top: 110px;
    text-transform: uppercase;
    text-align: center;
  }
}
