footer.footer
	.container
		.footer__inner
			p.footer__text Sign up to receive daily manually selected recipes, delicious weekly articles, 3-piece sets of slow cooker, vegetarian, and lunch ideas, plus Quick&Easy recipes and Nutrition Value flashcards via email.
			form.footer__form.form(id="footer" action="" method="post")
				label.visually-hidden(for="email") Введите свой email адресс
				p.footer__error Ошибка
				input.footer__input.form__input(type="email" name="userMail" id="email" placeholder="Enter your email")
				button.button.footer__button.form__button(type="submit") Sign up
				p.footer__policy By signing up I agree to the terms of the #[a(href="#") Privacy Policy]
		p.footer__copyright © 2014–2018 TastyCookery.com
